@model CodWizardsMovieShop.Models.Db.Movie



<div class="container mt-4 mb-3">
    <div class="row">
        <div class="col">
            <div class="card h-100 " style="width: 250px;">
                <img src="@Model.MovieUrl" class="card-img-top img-fluid" alt="...">
                <div class="card-body text-dark p-3">

                    <div class="card-text text-start">
                        <div class="m-auto">
                            <p>
                                <a class="link-offset-2-hover link-underline link-underline-opacity-0 fw-bold" href="@Url.Action("MovieDetails", "Customer", new { id = Model.Id })">@Model.Title</a>
                            </p>
                            <p>
                                Director : @Model.Director
                            </p>
                            <p>
                                Release Year : @Model.ReleaseYear
                            </p>
                            <p>
                                Price : @Model.Price SEK
                            </p>                                                                         
                                  
                        </div>

                    </div>

                </div>
                <div class="card-footer">
                    <button class="btn btn-success mt-1" onclick="addtoCartO(@Model.Id)">Add to cart</button>
                </div>
            </div>
        </div>
    </div>
    
</div>
 



