@model CodWizardsMovieShop.Models.ViewModels.AdminOrderViewModel
@{
    ViewData["Title"] = "_OrderCustomerPartial";

}

@{double total=0; double subtotl;
<div>
	<div class="row bg-primary-subtle py-2 ">

			Order_@Model.OrderId &emsp; &emsp; &emsp; &emsp;
			Order Date:	@Model.OrderDate	
				

	</div>

	<div id="showorder_@Model.OrderId">

			@foreach (var mov in Model.InMvovList)
		{
			subtotl = @mov.Movie.Price * @mov.NumberofCopies;
			total += subtotl;

			<div class="row bg-light py-3">
				<div class="col-3">
					<img src="@mov.Movie.MovieUrl" style="height:120px; width:120px" alt="@mov.Movie.Title" />
				</div>
				<div class="col-9 ps-3">
					<div class="row">
						<div class="col-sm-6">
							@mov.Movie.Title
						</div>
						<div class="col-sm-6">
							@mov.Movie.Price SEK x @mov.NumberofCopies SEK = @subtotl SEK
						</div>
					</div>
				</div>


			</div>
		}
		<div class="row mb-2 py-3 pe-4 bg-success-subtle align-content-end justify-content-end text-success">Total: @total</div>


	</div>


</div>
}